
.edit-damage-wrapper {
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;      
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .topnav-wrapper.narrow {
      width: 100%;
      justify-content: flex-start;

      .content {
        display: flex;      
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    .edit-damage-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-y: hidden;
      flex-grow: 1;
    
      .photo-container {
        position: sticky;

        img {
          width: 315px;
        }
      }
    
      .main-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    
        .select-group {
          width: 100%;
          padding: 12px 0;
          border-bottom: 1px solid #f2f2f2;
    
          .select-item {
            position: relative;
            display: flex;
            align-items: center;
            height: 40px;
            padding-left: 32px;
          }
    
          .select-item.selected {
            font-weight: bold;
          }
          
          .select-item.selected:before {
            content: "\2713";
            position: absolute;
            left: 0;
          }
        }
    
        .select-group:last-child {
          border-bottom: none;
        }
      }
    
      .action {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .done {
          .next-button {
            margin: 30px;
          }
        }
    
        .remove {
          margin-left: auto;
          display: flex;
          align-items: center;
          color: #999999;
    
          span {
            font-size: 19px;
          }
    
          label {
            margin-left: 8px;
          }
        }
      }  
    }
  }
}