@import '../../../../stylesheets/colors-fonts';

.photo-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;

  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;

    .grid-list {
      width: 315px;

      .icon-container {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;        
        background-color: $color-light-gray;

        span {
          font-size: 20px;
          line-height: 20px;
          color: $medium-gray-color;
        }
      }

      .add-more-container {        
        width: 100%;
        height: 100%;
        color: $color-light-cyan;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-light-gray;

        .icon {
          position: absolute;        
        }
        .text {
          font-size: 16px;
          padding-bottom: 16px;
          align-self: flex-end;
        }
      }
    }
  }  
}