
$color-white : #fff;
$color-light-gray: #F7F7F7;
$color-light-cyan: #18AEEE;
$red-color: #f45a00;
$orange-color: #f78c26;
$green-color: #89C742;
$medium-green-color: #0d755a;


$lighter-gray-color: #eee;
$light-gray-color: rgb(181, 181, 181);
$medium-gray-color: rgb(102,102,102);

$color-box-shadow-first: rgba(0, 0, 0, 0.1);
$color-box-shadow-second: rgba(0, 0, 0, 0.09);

$blue-link-color: #3d8fcd;