
.report-container {
  .car-specs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 8px;
      .name {
        font-weight: bold;
      }
      .type {
        color: #999999;
      }
    }
    .claim {
      .id {
        color: #999999;
        font-size: 16px;
        font-weight: bold;
      }
      .id:before {
        content: 'CLAIM ID: '
      }
    }
  }

  .car-report-table {
    background-color: #f2f2f2;
    margin-top: 16px;
    margin-bottom: 16px;    

    td, th {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    th {
      font-weight: bold;
      color: black;
    }
  }

  .download {
    .download-as {
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #d1effc;
      color: #53c3f3;

      a {
        vertical-align: middle;
      }
    }

    .download-as:last-child {
      border-bottom: none;
    }
  }
}